<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Multipiano</title>
</head>
<body>
	<input name="room" type="text" id="create-room-id"  style="display: none;" required>
	<button id="create-room-button" type="button">Create room</button>
	<br>
	<input type="text" id="room-id-input" placeholder="Leave empty to see all rooms">
	<button id="join-room-button">Join room</button>
</body>
<script src="https://cdn.socket.io/4.4.1/socket.io.min.js" integrity="sha384-fKnu0iswBIqkjxrhQCTZ7qlLHOFEgNkRmK2vaO/LbTZSXdJfAu6ewRBdwHPhBo/H" crossorigin="anonymous"></script>
<script src="/multipiano/js/index.js"></script>
</html>